# Built development folders
.gradle/
local.properties
.navigation/
captures/
.externalNativeBuild/
.cxx/
*~
*.swp
*.bak
*.class

# Android Studio
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/nav/
.idea/vcs.xml

# Built outputs
**/build/
*.apk
*.ap_
*.dex

# Additional polish rules
# .NET standard gitignore
bin/
obj/
*.user
*.userosscache
*.suo
.vs/
.vscode/
